<div class="program-view panel panel-default <% if (app.programName) { %>loaded<% } %>">
  <div class="panel-heading">
      <div class="panel-title"><%- (app.programName) ? app.programName : 'No program loaded' %></div>
  </div>
  <div class="panel-body">
    <div class="program-code-block">
      <textarea class="form-control" disabled><%- app.gcode %></textarea>
    </div>
    <div class="progress program-progress">
      <div class="progress-bar progress-bar-success" role="progressbar">
        0%
      </div>
    </div>
    <div class="program-actions">
      <div class="run-actions">
        <!--<button class="btn btn-xs program-edit"><i class="fa fa-edit"></i> Edit</button>-->
        <button class="btn btn-xs program-clear"><i class="fa fa-remove"></i> Clear</button>
        <button class="btn program-start "><i class="fa fa-play"></i> Run</button>
        <button class="btn program-pause"><i class="fa fa-pause"></i> <span>Pause</span></button>
      </div>
      <div class="edit-actions">
        <button class="btn btn-xs program-edit-cancel"><i class="fa fa-remove"></i> Cancel</button>
        <button class="btn btn-xs program-edit-save"><i class="fa fa-floppy-o"></i> update</button>
      </div>
      <button class="btn program-load"><i class="fa fa-folder-open"></i> Load</button>
    </div>
  </div>
</div>
</div>

<input type="file" class="file-upload hidden">
